JAULA WAVE "JAULA.wav"
SHOW WAVE "SHOW.wav"
BIRL WAVE "BIRL.wav"
NAOVAI WAVE "NAOVAI.wav"
QUENAOVAI WAVE "QUENAOVAI.wav"
A13 WAVE "13.wav"
AJUDA WAVE "AJUDA.wav"
AQUI WAVE "AQUI.wav"
TRAPEZIO WAVE "TRAPEZIO.wav"
URL WAVE "URL.wav"
NEGATIVA WAVE "NEGATIVA.wav"
EITA WAVE "EITA.wav"
A37 WAVE "37.wav"
MAISUM WAVE "MAISUM.wav"